.CategoryCard {
  background-color: aliceblue;
  // display: grid;
  // grid-template-columns: auto auto auto;
  // grid-column-gap: 20px;
  // grid-row-gap: 20px;

  .category-card-container {
    padding: 10px;
    height: 250px;

    .category-card-body {
      background-color: antiquewhite;
      height: 70%;
    }

    .add-category-card {
      background-color: antiquewhite;
      height: 100%;      
    }

    .category-card-footer {
      background-color: antiquewhite;
      padding-bottom: 0; 

      .btn:nth-child(1) {
        width: 100%;
      }

      .btn {
        width: 50%;
      }
    }
  }
}
