.CategoryCard {
  color: #000;
  // display: grid;
  // grid-template-columns: auto auto auto;
  // grid-column-gap: 20px;
  // grid-row-gap: 20px;

  .category-card-wrapper {
    padding: 10px;
    height: 250px;

    .category-card-container {
      height: 100%;
      width: 100%;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 10px 6px -6px #000;
    }

    .category-card-body {
      height: 70%;
      padding-top: 10px;
    }

    .add-category-card {
      height: 100%;      
    }

    .category-card-footer {
      .btn:nth-child(1) {
        width: 100%;
        border-radius: 0;
      }

      .btn:nth-child(3) {
        border-radius: 0 0 0 6px;
      }

      .btn:nth-child(4) {
        border-radius: 0 0 6px 0;
      }

      .btn {
        width: 50%;
        border-radius: 0;
      }
    }
  }
}
